html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("zyro-image\ \(43\)\ -\ copia.png")/*linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%)*/;
  min-height: 100%;
  padding-bottom: 5rem; }
  


/*.container {
    background-color: white;
}*/
header {
  margin-top: 3rem;
}
header h1 {
  color: white;
}


#tituloycopete{
  display: flex;
  justify-content: center;

}

.titulo {
  font-weight: bold;
  font-size: 80px;
  text-transform: uppercase;
  color: rgb(122, 72, 10);
  line-height: 190px;
}
h3{
  align-items: center;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: brown;
  /*line-height: -200px;*/
  color: bisque;
  display: flex;
  position: relative;
  line-height: 210px;
  top: 70px;
  right: 325px;
}

#inputTitulo{
  color: rgb(171, 171, 202);
  background-color: blue;
  border-radius: 5px;
}



.cita{
  background-color: rgb(218, 141, 40);
  text-align: center;
  border-radius: 18px;
  margin-bottom: 15px;
}


.lista-citas .cita {
  border-bottom: 1px solid #e1e1e1;
  padding: 2rem;
  padding-bottom: 3rem;
  
}
.lista-citas .cita:last-of-type {
  border-bottom: 0;
}

.lista-citas .cita p {
  margin:0;
}
.lista-citas .cita button {
  margin-top: 1rem!important;
}
.lista-citas .cita span {
  font-weight: bold;
}
textarea {
    height: 200px!important;
}

svg {
  width: 21px;
}